.list-container{
    border-radius: 5px;
    box-shadow:5px 5px 10px;
    
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    /* background:rgba(0, 0, 0, 0.5); */
    color: #fff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
transition: 0.5s;



}
ul li.checked{
    text-decoration: line-through;
    color: black;
}
ul{

        margin-left: -33px;
}
ul li:hover{
    scale: 1.02;
 color: black;
    /* background-color: #fff;  */
    
}
.field{
    display: flex; 
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  background: #edeef0;
  margin-bottom: 25px;
  
  outline: none;
  box-shadow: 5px 5px 10px;
}
#addButton{
    border: none;
    outline: none;
    padding: 16px 50px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
    background: #ff5945;
    color: #fff;
    transition: 0.5;
}
#addButton:hover{
    background-color: red;
    scale: 1.02;
    transition: 0.5;
}
.dletebtn{
    background-color: red;
    border: none;
    border-radius: 5px;
    color: #fff;
    width: auto;
    box-shadow:rgba(0,0,0,0.5) 2px 2px 5px;
    text-decoration: none !important;
}
.dletebtn:hover{
    color: black;
}
